/*--------------------------------------------------------------
# Styles de base
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  font-size: var(--fs-body);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

/* ---- Titres ---- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }

/* ---- Paragraphes ---- */
p {
  font-family: var(--default-font);
}

/* ---- Liens ---- */
a {
  text-decoration: none;
}

/* ---- Boutons ---- */
button{
  font-family: var(--default-font);
  font-size: var(--fs-body);
  cursor: pointer;
  border-width: 1.5px;
}