/*--------------------------------------------------------------
# Mise en page – CLASSES FLEXBOX + BREAKPOINTS MEDIA QUERIES
--------------------------------------------------------------*/
/* Breakpoints globaux */
:root {
  --bp-grand-ecran: 1024px;
  --bp-tablette: 768px;
}

/****** FLEXBOX */
.rangee {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colonne {
  display: flex;
  flex-direction: column;
}
