/*--------------------------------------------------------------
# Fichier de définition des VARIABLES globales
--------------------------------------------------------------*/
/******* POLICES */
:root {

--default-font: "Rubik", sans-serif;
--heading-font: "TASA Orbiter", sans-serif;
}


/******* COULEURS GLOBALES */
:root {
--bc-light: #ffffff;
--bc-dark: #121212;

/* Couleurs standarts */
--principal-standart: #35C8E9; /* Couleur principale */
--secondaire-standart: #A459FF; /* Couleur secondaire, éléments interactifs */
--ac-standart-1: #B0DE47; /* Couleur d'accent */
--ac-standart-2: #F1438E; /* Couleur d'accent */
--ac-standart-3: #FF841C; /* Couleur d'accent, CTA (Call to action)  */

/* Couleurs pales */
--principal-light: #C2E7FF;
--secondaire-light: #EFCAFF;
--ac-light-1: #E0FFCB;
--ac-light-2: #FFBFD0;
--ac-light-3: #FFEAC3;

/* Couleurs foncées */
--principal-dark: #1A5F8A;
--secondaire-dark: #511688;
--ac-dark-2: #497E25;
--ac-dark-3: #A65600;
--ac-dark-5: #910037;
}

/******* TEXTES */
:root {
  --text-dark: #1a1a1a; /* texte sur fond clair */
  --text-light:  #f5f5f5; /* texte sur fond sombre */

  /* Tailles de texte*/
  
  /* --- Mobile--- */
  --fs-hero: 2.25rem;   /* gros titre sur mobile */
  --fs-h1: 1.75rem;     /* titre principal */
  --fs-h2: 1.5rem;      /* sous-titre */
  --fs-h3: 1.25rem;
  --fs-body: 0.95rem;   /* texte de base */
  --fs-small: 0.8rem;   /* crédits, mentions */
}

/* --- Écrans larges --- */
@media (min-width: 1024px) {
  :root {
    --fs-hero: 3.5rem;   /* gros titre desktop */
    --fs-h1: 2.5rem;     /* titre principal */
    --fs-h2: 2rem;       
    --fs-h3: 1.5rem;
    --fs-body: 1.1rem;   /* texte normal */
    --fs-small: 0.9rem;  /* crédits, mentions */
  }
}
/*************** */

/******* OMBRES ET TRANSITIONS */
:root {
  --shadow-soft: 0 4px 8px rgba(0, 0, 0, 0.15); /* box-shadow */
  --shadow-strong: 0 8px 16px rgba(0, 0, 0, 0.3); /* box-shadow */

  --transition-fast: all 0.2s ease;/* transition */
  --transition-slow: all 0.5s ease; /* transition */
}

/******* INTERLIGNES */
:root{
  --lh-tight: 1.2; /*line-height*/
  --lh-normal: 1.5; /*line-height*/
  --lh-relaxed: 1.8; /*line-height*/
}